
.navbar {
  position: relative; /* ensure the z-index property works */
  z-index: 1; /* add this line to set the navbar's z-index */
}
.image-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-gap: 20px;
}

.image-wrapper {
  position: relative;
}

.image {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 5px;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}

/* .overlay:hover {
  opacity: 1;
} */

.description {
  text-align: center;
  color: #fff;
  padding: 20px;
}

@media (max-width: 767px) {
  .carousel-caption {
    z-index: -1; /* add this line to set the carousel caption's z-index */
  }
}
